* {
  border: none;
  border-radius: 5;
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 12px;
  min-height: 18px;
  color: #89b4fa;
}

#custom-archicon {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding-left: 1px;
  padding-right: 5px;
  color: #89b4fa;
}

window#waybar {
  background: transparent;
}

#window {
  color: #b4f9f8;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ff757f;
}

#workspaces button {
  background-color: transparent;
  color: #ffffff;
  margin-right: -8px;
}

#workspaces button:last-child {
  margin-right: 4px;
}

button:hover {
  background: inherit;
}

#pulseaudio {
  color: white;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#backlight {
  color: white;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#network {
  color: white;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  margin-top: 7px;
  background: #282a36;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  font-weight: bold;
  margin-top: 7px;
  background: #282a36;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

#custom-waybar-media.paused {
  color: grey;
}

#bluetooth {
  color: white;
  margin-top: 7px;
  margin-left: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  color: white;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  background: #282a36;
  transition: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-media {
  margin-top: 7px;
  margin-left: 7px;
  transition: none;
  padding-left: 8px;
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 50px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}
